<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="atras()">Atras</ion-button>
      </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item>
            <ion-label position="floating">Trabajador</ion-label>
            <ion-input autocomplete="off" (keyup)="buscar()" name="trabajador" [(ngModel)]="trabajador" clearInput></ion-input>
          </ion-item>
        <ion-card *ngFor="let trabajador of listaTrabajadores" [style.background]="buttonColor" (click) = 'seleccionar(trabajador.token)'>
              <ion-card-content>
                <div style="width: 100%">
                  <div style="width: 100%">
                      <ion-card-title>{{trabajador.nombre}} {{trabajador.apellido_paterno}} {{trabajador.apellido_materno}}</ion-card-title>
                  </div>
                </div>
              </ion-card-content>
          </ion-card>
        <ion-item>
          <ion-label position="floating">Concepto</ion-label>
          <ion-input autocomplete="off" type="text" name="concepto" [(ngModel)]="concepto" required clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input autocomplete="off"  name="cantidad" [(ngModel)]="cantidad" required clearInput></ion-input>
        </ion-item>
        <ion-button (click)="agregar()" expand="full" style="margin-top:10px">
          Agregar
        </ion-button>
      </form>
</ion-content>
 