<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Perfil de la Empresa</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
<div style="width: 100%;padding: 20px;height: 200px;background: #1d2939;color: #fff">
  <div style="margin:auto;text-align: center">
    <h3>{{nombre_empresa}}</h3>
    <p style="color: #868ba1">{{tipo}}</p>
    <p style="color: #868ba1">{{descripcion}}</p>
  </div>
</div>
<div style="width: 100%;padding: 5%">
  <h4>Información de contacto</h4>
  <p style="color:#868ba1" *ngIf="telefono">Telefono:</p>
  <p style="color:darkcyan" *ngIf="telefono">{{telefono}}</p>
  <br>
  <p style="color:#868ba1" *ngIf="email">Email:</p>
  <p style="color:darkcyan" *ngIf="email">{{email}}</p>
  <br>
  <p style="color:#868ba1" *ngIf="direccion">Direccion oficina:</p>
  <p style="color:darkcyan" *ngIf="direccion">{{direccion}}</p>
  <br>
  <p style="color:#868ba1" *ngIf="sitio_web">Sitio web:</p>
  <p style="color:darkcyan" *ngIf="sitio_web">{{sitio_web}}</p>

</div>
</ion-content>
