<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Perfil de la Empresa</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
<div style="width: 100%;padding: 20px;height: 200px;background: #1d2939;color: #fff">
  <div style="margin:auto;text-align: center">
    <h3>{{nombre_empresa}}</h3>
    <p style="color: #868ba1">{{tipo}}</p>
    <p style="color: #868ba1">Descripción de la empresa</p>
  </div>
</div>
<div style="width: 100%;padding: 5%">
  <h4>Información de contacto</h4>
  <p style="color:#868ba1">Celular:</p>
  <p style="color:darkcyan">+1 234 567 8910</p>
  <br>
  <p style="color:#868ba1">Email:</p>
  <p style="color:darkcyan">{{email}}</p>
  <br>
  <p style="color:#868ba1">Direccion personal:</p>
  <p style="color:darkcyan">1352 Science Center Drive Terreton, ID 83450</p>
  <br>
  <p style="color:#868ba1">Direccion oficina:</p>
  <p style="color:darkcyan">1352 Science Center Drive Terreton, ID 83450</p>
  <br>
  <h5>Información de adicional</h5>
  <br>
  <p style="color:#868ba1">Grado de estudios:</p>
  <p style="color:darkcyan">Bachelor of Science in Computer Science</p>

</div>
</ion-content>
