<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" style="margin:10px">
        Agregar
    </ion-button>
    <div style="width: 100%">
        <ion-card >
            <ion-card-content>
              <div style="width: 100%">
                <div style="width: 20%;display: inline-block;">
                    <ion-thumbnail slot="start">
                      <img src="https://via.placeholder.com/500" style="--border-radius: 50%">
                    </ion-thumbnail>
                </div>
                <div style="width: 80%;display: inline-block;">
                    <ion-card-title>Katherine Lumaad</ion-card-title>
                    <ion-card-subtitle>Usuario</ion-card-subtitle>
                </div>
              </div>
            </ion-card-content>
        </ion-card>
        <ion-card >
              <ion-card-content>
                <div style="width: 100%">
                  <div style="width: 20%;display: inline-block;">
                      <ion-thumbnail slot="start">
                        <img src="https://via.placeholder.com/500" style="--border-radius: 50%">
                      </ion-thumbnail>
                  </div>
                  <div style="width: 80%;display: inline-block;">
                      <ion-card-title>Gorgonia Magalpok</ion-card-title>
                      <ion-card-subtitle>Usuario</ion-card-subtitle>
                  </div>
                </div>
              </ion-card-content>
        </ion-card>
        <ion-card >
            <ion-card-content>
              <div style="width: 100%">
                <div style="width: 20%;display: inline-block;">
                    <ion-thumbnail slot="start">
                      <img src="https://via.placeholder.com/500" style="--border-radius: 50%">
                    </ion-thumbnail>
                </div>
                <div style="width: 80%;display: inline-block;">
                    <ion-card-title>Marilyn Tarter</ion-card-title>
                    <ion-card-subtitle>Usuario</ion-card-subtitle>
                </div>
              </div>
            </ion-card-content>
      </ion-card>
    </div>
</ion-content>
