<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Trabajador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%)">
    <div style="position:absolute;top:10%;width: 100%;padding: 0 40px">
    <form #form="ngForm" (ngSubmit)="registrar(form)">
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input autocomplete="off" name="nombre" ngModel required clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido Paterno</ion-label>
            <ion-input autocomplete="off" name="apellido_p" ngModel required clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido Materno</ion-label>
            <ion-input autocomplete="off" name="apellido_m" ngModel required clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input autocomplete="off" type="email"  name="usuario" ngModel required clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input autocomplete="off" type="password" name="password" ngModel required clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Repite la Contraseña</ion-label>
            <ion-input autocomplete="off" type="password" name="password2" ngModel required clearInput></ion-input>
          </ion-item>
        <ion-button type="submit" expand="full" style="margin-top:10px">
          Registrar
        </ion-button>
      </form>
      </div>
</ion-content>
