<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%;padding: 20px">
      <ion-item>
          <ion-label position="stacked">Nombre de la empresa</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Contacto</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Telefono</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Celular</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Sitio web</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Tipo de empresa</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Descripción de empresa</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-button expand="full" style="margin-top:10px">
          Modificar
        </ion-button>
  </div>
</ion-content>
