<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="width: 100%">
        <ion-card *ngFor="let incidencias of listaIncidencias" >
            <ion-card-content>
              <div style="width: 100%">
                <div style="width: 100%;">
                    <ion-card-title>{{incidencias.incidencia}}</ion-card-title>
                    <ion-card-subtitle>{{incidencias.tipo}}</ion-card-subtitle>
                    <ion-card-subtitle>{{incidencias.fecha}}</ion-card-subtitle>
                    <ion-card-subtitle>{{incidencias.observaciones}}</ion-card-subtitle>
                </div>
              </div>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="add();">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
